@page "/Data"
@using System.Reactive.Linq
@using Axis.Core.Messaging
@implements IDisposable

@inject IJSRuntime JS
@inject IMicrocontroller mcu;

<h3>Data</h3>
<div class="grid container h-full w-full">
    <canvas id="myChart"></canvas>
</div>

@code {
    private IJSObjectReference? jsModule;
    private IDisposable subscription;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Data.razor.js");

            subscription = mcu.AdsReadouts.Select(x => AppendData(x.value)).Subscribe();
        }
    }

    public async Task AppendData(double data)
    {
        await jsModule.InvokeVoidAsync("addData", data);
    }

    public void Dispose()
    {
        jsModule?.DisposeAsync();
        subscription?.Dispose();
    }
}