@page "/brew"

<div class="flex flex-row space-x-4 w-full h-full">
    <div class="h-full w-32 border border-slate-800 rounded-md">
        <p class="text-lg text-center">History</p>
    </div>
    <div class="grow p-4">
        <p class="text-2xl text-center">Brewing</p>
    </div>
</div>

@code {
    
}